# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.3"
  - "3.4"

branches:
  only:
    - master
    - develop

before_install:
  - curl http://download.tinkerforge.com/bindings/python/tinkerforge_python_bindings_2_1_0.zip > tinkerforge_python_bindings_2_1_0.zip
  - unzip tinkerforge_python_bindings_2_1_0.zip
  - easy_install tinkerforge.egg

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - easy_install tinkerforge.egg
  - pip install -r requirements.txt

# command to run tests, e.g. python setup.py test
script:
  - nosetests
  - behave