<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>

        <tbody>
        <thead>
            <th>Gas</th>
        </thead>
        {% for timestamp in gas_data %}
            <tr><td>{{ timestamp }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <table>

        <tbody>
        <thead>
            <th>Electricity</th>
            <th>Gas</th>
            <th>Water</th>
        </thead>
        {% for timestamp in electricity_data %}
            <tr><td>{{ timestamp }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>